<%- include ('Partials.ejs') %> 
<body>
<div class = 'back'>
    <%- include ('Navbar.ejs')  %> 
    <h2 style="color:white">
        About me <br>
        <hr>
        <p style="color:black">
            Hi, My name is Nginx , an aspiring back end developer.<br>
            I created this project to apply concepts in Javascript,Html,CSS and Express.js.<br>
            Thank you for viewing my page :)
            
        </p>
    </h2>
 
</div>
 
</body>